body {
	min-width: 320px;
	overflow-x: hidden;
	line-height: 1.45;
}
.case-form-two .case-form-one__field > i::placeholder, 
.case-form-two .case-form-one__field .bootstrap-select > .dropdown-toggle::placeholder, 
.case-form-two .case-form-one__field input[type="text"]::placeholder, 
.case-form-two .case-form-one__field textarea::placeholder {
	color:#333;
}
a,.press-text a {
	color:#c41230;
}
a:hover,.press-text a:hover {
	color:#e0a965;
}
.h3, h3 {
	font-size: 22px;
}
.main-logo {
	width: 250px;
	/*height: 55px;*/
}
.main-logo.mobile {
	display: none;
}
.main-logo-small {
	width: 200px;
}
.footer-widget a {
	color:#aaaaaa;
	font-weight: bold;
}
.footer-widget__logo img{
	width: 300px;
}
.case-two__box-links  {
	margin-bottom: 20px;
}
.case-two__box-links a{
	color:#aaaaaa;
	font-size: 14px;
}
.case-two__box-links a:hover{
	color: #fff;
	border-bottom: 1px solid #fff;
}
.case-two__box-title {
	margin-bottom: 10px;
}
.fact-one {
	background-image: none;
}
.logo_red_small {
	width: 85px;
	height: 85px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
	background-color:#fff;
	position: absolute;
	top: 28%;
	left: 47%;
	z-index: 10;
}
.case-form-one .inner-container.popup-form {
	box-shadow: none;
	padding: 0;
}
.case-form-one .inner-container.popup-form::before, .case-form-one .inner-container.popup-form::after {
	display: none;
}
.cta-one,.inner-banner {background-image: url(../images/background/fact-bg-2-1.jpg);}
.inner-banner {padding: 50px 0;}
.cta-one__phone a {font-size: 40px;}
.contact-one__info-text.address {margin-bottom: 10px;}
.contact-one__info-text.address:last-child {margin-bottom: 0;}
.header-phone {
	margin-right: 0;
}
.header-phone.fixed {
	/*display: none;*/
	margin-right: 40px;
}

.topbar-one.text-center{
	color: #fff;
	background: rgba(0,0,0, 0.5);
	background: rgba(196, 18, 48, 0.4);
}
.topbar-one.dark.text-center{
	color: #333;
	background: none;
}
.site-header__header-one.dark .header-navigation ul.navigation-box > li > a,.topbar-one.dark .header-phone,
.site-header__header-one.dark .header-phone{
	color: #333;
}
.site-header__header-one.dark .header-navigation.stricked-menu.stricky-fixed ul.navigation-box > li > a,
.slider-one__title
 {
	text-shadow: 0 0 30px rgba(0, 0, 0, 0.75);
}
.site-header__header-one.dark .header-navigation.stricked-menu.stricky-fixed ul.navigation-box > li > a, 
.site-header__header-one.dark .stricked-menu.stricky-fixed .header-phone.fixed {
	color:#fff;
}

.site-header__header-one.dark .header-navigation ul.navigation-box > li.current > a,.site-header__header-one.dark .header-navigation ul.navigation-box > li:hover > a {
		color: #e0a965;
}
.stricked-menu.stricky-fixed .header-phone.fixed {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.site-header__header-one .main-navigation {
	padding-right: 205px;
}
.topbar-one.dark {
	border-bottom-color: #ececec;
}
.topbar-two__left p {
	margin-bottom: 0;
}
.site-header__header-two .stricked-menu.stricky-fixed .main-navigation {
	padding-right: 88px;
}
.case-form-one {
	/*margin-bottom: 200px;*/
}
.slider-one__nav {
	display: none;
}
.content-wrapper{
	margin-top: 100px;
}
.content-insideBlock{
	margin-top: 50px;
}
.content-insideSmall{
	margin-bottom: 25px;
}
.content-insideSmall:last-child {
	margin-top: 0px;
}
.marked-list li{
	/*display: flex;*/
	list-style: none;
	margin-bottom: 15px;
	position: relative;
	padding-left: 30px;
}
.marked-list li:before {
	/*flex: 0 0 auto;*/
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: '\f058';
	display: inline-block;
	font-size: 18px;
	color: #c41230;
	margin-right: 10px;
	position: absolute;
	left: 0;
	top: 0;
}
.marked-list li img {
	width: 100%;
	height: auto;
	margin: 20px 0;
}
.marked-list li a {
	color:#c41230;
}
.marked-list li a:hover {
	color:#e0a965;
}
.faq-one {
	background: rgb(2,0,2);
	background: -webkit-linear-gradient(left, rgba(2,0,36,0) 0%, rgba(43,47,57,0.2) 100%);
	background: -o-linear-gradient(left, rgba(2,0,36,0) 0%, rgba(43,47,57,0.2) 100%);
	background: linear-gradient(to right, rgba(2,0,36,0) 0%, rgba(43,47,57,0.2) 100%);
}
.faq-one::before {
	display: none;
}
.map-container{
	text-align: center;
}
.map {
	overflow: hidden;
}
.map-title {
	margin: 20px 0;
	font-weight: bold;
	font-size: 18px;
}
.map-phone a{
	font-size: 16px;
	color: #333;
}
.cta-one {margin-bottom: 200px; padding-bottom: 90px;}
.cta-one .container {max-width: 1170px;}
.cta-one__contact {margin-bottom: 60px;}
.testimonials-one__title {
	color:#333;
	top: -120px;
	bottom: auto;
}
.testimonials-one__icon {
	font-size: 24px;
}
.testimonials-one .inner-container {
	padding: 80px 24px 73px 24px;
	height: 100%;
	position: relative;
}
.testimonials-logo {
	display: inline-block;
	width: 150px;
}
.testimonials-container {
	margin-bottom: 20px;
}
.testimonials-logo img {
	width: 100%;
	height: auto;
}
.testimonials-separator {
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	padding: 10px 0;
	margin: 10px 0;
	margin-bottom: 25px;
	text-align: center;
	/*font-size: 14px;*/
	font-weight: bold;
	text-transform: uppercase;
	display: block;
}
.testimonials-one__info-content {
	margin-left: 0;
	display: block;
	width: 100%;
	border-top: 1px solid #e6e6e6;
	padding-top: 20px;
	text-align: center;
}
.cta-two {    
	padding: 50px 30px;
	margin: 30px 0;
}
.cta-two__text {
	margin-bottom: 10px;
}
.testimonials-one::before {background-color: #f7f7f7;}
.case-form-one__field.red {margin-bottom: 0;}
.case-form-one__field.red input{
	color: #333 !important; 
}
.case-form-one__field.red input::placeholder {
	color: #333 !important;
	opacity: 1;
}
.red_form {
	width: 100%;
}
.brand-img {max-width: 100px;margin-bottom: 20px;}
.brands {
	margin-bottom: 100px;
}
.blog-one {padding-bottom: 0;}
.case-form-one__field textarea {padding-left: 0;}
.logo-box .header-phone {display: none;}
.logo-box .header-phone i {margin-right: 0;}


.content-insideSmall .block-title__title {
    margin-top: 50px;
    margin-bottom: 20px;	
}
.block-title__text-two {
	display: none;
}
section.content-insideBlock p a {
	color:#c41230;
}
section.content-insideBlock p a:hover {
	color:#e0a965;
}
.content-insideBlock p > img.aligncenter {
	margin: 30px auto !important;
	/*width: 100% !important;*/
	height: auto !important;
}

.slider-one .item {
	position: relative;
}
.slider-one .item img {
	width: 100%;
	height: auto;
	flex: 0 0 auto;
}
.slider-container {
	position: absolute; 
	bottom: 200px;
	flex: 0 0 auto;
}
.slider-one__slide {
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
	justify-content: center;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	background-image: none !important;
}

.sub-services {
	color:#333;
	text-transform: uppercase;
    font-weight: bold;
}
.sub-services:hover {
	color:#c41230;
}
.sub-services i{
    font-size: 74px;
    display: inline-block;
    margin-bottom: 10px;
    color: #c41230;
}
.team-one__image {
	position: relative;
}
.attorneys-contacts {
	height: 100%;
}
.attorney-border::after, 
.attorney-border::before {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	content: "";
	opacity: 0;
	transition: opacity .35s,-webkit-transform .35s;
	transition: opacity .35s,transform .35s;
	transition: opacity .35s,transform .35s,-webkit-transform .35s;	
}
.attorney-border::before {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
}
.attorney-border::after {
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
}
.team-one__single:hover .attorney-border{
    opacity: .6;
}
.team-one__single:hover .attorney-border::after, 
.team-one__single:hover .attorney-border::before, 
.team-one__single:focus .attorney-border::after, 
.team-one__single:focus .attorney-border::before {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.team-one__single:hover .team-one__image,
.team-one__single:focus .team-one__image{
	
	opacity: 0.9;
}
.team-one__image {
	opacity: 1;
	display: block;
	transition: opacity .35s;
}

.border-card {
	padding: 24px 32px;
	border: 1px solid #e6e6e6;
}

.case-two .block-title__title {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 44px;
}
.blog-one__date {
	right: auto;
	left: 0;
	background:#c41230;
}
.blog-one__image-inner {
	display: none;
}
.blog-one__link i,
.blog-one__title a:hover
 {
	color:#c41230;
}
/***********forms*************/
.case-form-one__field input[type="text"], 
.case-form-one__field input[type="tel"], 
.case-form-one__field input[type="email"],
.case-form-one__field textarea
{
	border: 1px solid #ddd;
	padding: 0 15px;
	background: #fff;
	color:#333;
}
.case-form-one__field textarea {
	padding: 15px;
	resize: none;
}
.cta-two__title {
	margin-bottom: 20px;
}
/**********media********/


@media (max-width: 1199px) {
	.site-header__header-one.dark .header-navigation ul.navigation-box > li > a {
		color: #fff;
	}

	.stricky.original.fixed {
		position: fixed;
		width: 100%;
		top: 0px;
		background: #333;
		transform: translateY(0%);
	}

}
@media (max-width: 991px) {
	body {
		font-size: 14px;
	}
	.slider-one__title {
		font-size: 20px;
	}
	.site-footer {
		padding-top: 50px;
	}
	.case-form-two__inner {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.slider-one__btn {
		width: 100%;
	}
	.testimonials-wrapper {
		margin-bottom: 50px;
	}
	.testimonials-wrapper:last-child {
		margin-bottom: 0px;
	}
	.case-two {
		padding-top: 50px;
	}
	.cta-one {
		padding-bottom: 50px;
		margin-bottom: 50px;
	}
	.case-two__box-single {
		margin-bottom: 50px;
	}
	.about-one {
		padding: 50px 0;
	}
	h1,.h1,.inner-banner__title {
		font-size: 26px;
	}
	.block-title__title,.mailchimp-one__title {
		font-size: 22px;
	}
	.content-wrapper {
		margin-top: 50px;
	}
	.inner-banner .thm-breadcrumb {
		display: none;
	}
	.logo-box .header-phone {
		display: inline-block;
	}
	.topbar-one {
		display: none;
	}
	.main-logo {
		display: none;
	}
	.main-logo.mobile {
		width: 55px;
		display: inline-block;
	}
	.brand-img {margin-bottom: 10px;}
	.case-form-one__field.red {margin-bottom: 15px;}
	.fact-one__box .logo_red_small,.topbar-one__left p {display: none;}
	.inner-banner .thm-breadcrumb li {font-size: 12px;}
	.site-header__header-one.dark .navbar-expand-lg .menu-toggler {color:#333;}
	.map-container{
		margin-bottom: 25px;
	}

	.brands {
		margin-bottom: 50px;
	}
}
@media (max-width: 768px) {
	.slider-one .item .container{
		position: relative;
		bottom: auto;
		padding: 40px 15px 0 15px;
	}	
	.slider-one__tag-line,.slider-one__title {
		color:#333;
		text-shadow: none;
	}
	[class*="slider-one__slider-"], [class*="slider-two__slider-"] {
		background: #fff;
	}
}